body  {
  box-sizing: border-box;
  font: 14px/1.7 'PT Sans Caption', sans-serif;
  margin:0;
  padding: 0; 
  background-color: #E1F5A9;

}

nav {
  box-sizing: border-box;
  padding:auto 10px;
  border: 2px solid red;
  text-align: right;
  position: fixed;
  height: 60px;
  background-color: black;
  width:100%;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  text-decoration:none;
  color:white;
  margin-left:40px;
  margin-right: 40px;
}

nav ul li a:hover{
  color: red;
}

.current{
  color:red;
}

.icon{
  width:100px;
  position:absolute;
  left:75px;
  border-radius:50%;
  border:1px solid black;
  margin-top:10px;
}

.first-look{
  border:2px solid black;
  background-color: green;
  padding-top: 5%;
  background-image: url("https://cdn.londonandpartners.com/visit/london-organisations/alexandra-palace/92923-640x360-alexandra-palace-gig-640.jpg");
  background-size: cover;
  background-position: 0 55%; 
  font-weight: 900;
  z-index: -1;
}

.first-look header h1{
  text-align: center;
  font-size: 70px;
  color:black;
}

form{
  width: 100%; 
  text-align: center;
  height: 320px; 
  margin:0 auto;
  border-bottom: 1px solid #E1F5A9;
}

form input{
  height:22px;
}

.col-6>div{
  margin-top:70px;
}


form #location{
  text-align: center;
}

#search input{
  width: 286px;
}

label{
  display:inline-block;
  margin-right: 10px;
}

form #keyword{
  text-align: center;
  margin-left: 30px;
}
  
form #start_date{
  text-align: center;
}

 form #end_date{
  text-align: center;
 }

.distance{
    height:30px;
} 

#miles{
  height:30px;
  vertical-align: middle;
}


 button{
  border-radius:4px;
  width: 280px;
  height: 32px;
  border:1px solid rgb(169,169,169);
}

button[name=search-button]{
  background-image:url(https://tf-assets-prod.s3.amazonaws.com/tf-curric/WEB-DEV-001/2.4.6_challenge_design_to_code/magnifying-glass.png); 
  background-position:center;
  margin-left: 20px;      
  width:40px;
  background-size: 32px; 
  margin-top: 60px;
  margin-bottom: 60px;
  height: 32px;
  vertical-align: middle;
} 

.results h1{
  padding-left: 80px;
}

.result-displayed{
  padding-left: 120px;
  padding-bottom: 20px;
}

.result-displayed h4{
  color:grey;
  margin-top: 0;
  margin-bottom: 0;
}


.result-displayed h2{
  margin-bottom: 0;
}

.image{
  margin-top: 15px;
  float:right;
  margin-right: 225px;
  clear:right;
  }

.image p{
  margin-top: 0;
  text-align: center;
}
.result-displayed p{
  color:grey;
  font-weight: 600;
}

.js-date h4{
  margin-left: 0;
}

.js-search-results{
  text-align: center;
}

h2{
  display: inline-block;
}

#rating{
  margin-top: 0;
  margin-left: 5px;
  width: 110px;
  display: inline-block;
  background-color: white;
}

.border { 
  border: 1px solid grey;
  margin:0 auto;
 }

.js-search-results{
  margin-top: 19px;
  background-color: white;
  border-bottom: 2px solid black;
  border-top:2px solid black;
}

.img{
  width:200px;
  height:130px;
  background-size:cover;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.results{
  background-color: white;
}

.results .result-displayed:nth-child(odd){
  background:#E8E8E8;
  border-bottom:1px solid grey; 
  border-top:1px solid grey;
  padding-bottom: 40px;
}


@media only screen and (max-width: 624px) {
    
form #keyword{
  margin-left: 0;
}

label{
  display:block;
  width:100%;
}

.js-search-results{
  margin-top: 90%;
}

.result-displayed{
  text-align: center;
  display: block;
  padding:0;
}

.image{
  margin:0 auto;
  display: block;
  float:none;
}

.img {
  margin:auto;
  display: block;
  margin-top: 10%;
  float:none;
}

.rateYo{
  display: block;
  margin-right: 0;
  margin:0 auto;
}

.result-displayed #title{
  display:block;
  text-align: center;
}

.distance label{
  margin-top: 70px;
}
  
  
button[name=search-button]{
  vertical-align: middle;
  margin:0;
  margin-left: 20px;
}

.icon{
  position:absolute;
  left:10px;
}

nav {
  margin-top:0;
}